@(assets: AssetsFinder)
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="sangria,scala,graphql,playframework,graphiql" />

    <link rel="shortcut icon" type="image/png" href="@assets.path("images/favicon.png")">

    <title>Explore TAP with AWAGraphiQL</title>

    <link href="@assets.path("css/graphiql.css")" rel="stylesheet" />

    <script src="@assets.path("js/react.min.js")"></script>
    <script src="@assets.path("js/react-dom.min.js")"></script>
    <script src="@assets.path("js/graphiql.min.js")"></script>

  </head>

  <body>
    <div id="AWAgraphiql">Loading...</div>
    <script src="@assets.path("js/app-AWAgraphiql.js")"></script>
    @*<script>*@
    @*renderGraphiql(document.getElementById('graphiql'))*@
    @*</script>*@
  </body>
</html>