# Created by .ignore support plugin (hsz.mobi)
### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*

lib_managed/

project/boot/
project/plugins/project/
.history
.cache
.lib/
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
/src/main/resources/application.conf
/src/main/resources/logback.xml
/.idea/
!/src/main/resources/logback.xml

src/test/java/
src/test/resources/
src/test/scala-2.12/
/target/scala-2.12/classes/
/target/scala-2.12/test-classes/
/target/resolution-cache/
/target/streams/
/logs/
/lib/nlpfactorie_2.12-0.1.jar
/lib/cc.factorie.app.nlp.all-models-1.0.0.jar
/lib/
/tap/zzz/
/models/opennlp/
models/opennlp/en-lemmatizer.dict.txt
models/opennlp/en-ner-date.bin
models/opennlp/en-ner-money.bin
models/opennlp/en-ner-organization.bin
models/opennlp/en-ner-percentage.bin
models/opennlp/en-ner-person.bin
models/opennlp/en-ner-time.bin
models/opennlp/en-parser-chunking.bin
models/opennlp/en-pos-maxent.bin
models/opennlp/en-pos-perceptron.bin
target/docker/
target/jnotify/
target/paradox/
target/scala-2.12/api/
target/scala-2.12/resolution-cache/
target/scala-2.12/routes/
target/scala-2.12/tap_2.12-3.0.1-sources.jar
target/scala-2.12/tap_2.12-3.0.1-web-assets.jar
target/scala-2.12/tap_2.12-3.0.1.pom
target/scala-2.12/tap_2.12-3.0.2-javadoc.jar
target/scala-2.12/tap_2.12-3.0.2-sans-externalized.jar
target/scala-2.12/tap_2.12-3.0.2-sources.jar
target/scala-2.12/tap_2.12-3.0.2-web-assets.jar
target/scala-2.12/tap_2.12-3.0.2.jar
target/scala-2.12/tap_2.12-3.0.2.pom
target/scala-2.12/tap_2.12-3.0.5-javadoc.jar
target/scala-2.12/tap_2.12-3.0.5-sans-externalized.jar
target/scala-2.12/tap_2.12-3.0.5-sources.jar
target/scala-2.12/tap_2.12-3.0.5-web-assets.jar
target/scala-2.12/tap_2.12-3.0.5.jar
target/scala-2.12/tap_2.12-3.0.5.pom
target/scala-2.12/twirl/
target/universal/
target/web/
/src/main/scala/tap/nlp/old/
src/main/scala/tap/nlp/old/DocumentConverter.scala
src/main/scala/tap/nlp/old/NlpBuilders.scala
src/main/scala/tap/nlp/old/NlpDocument.scala
src/main/scala/tap/nlp/old/OldNlpSentence.scala
src/main/scala/tap/nlp/old/SentenceConverter.scala
/src/main/scala/worksheet.sc
/src/main/scala/experiments.sc
/project/project/
/project/target/
/project/LocalSbtSettings.scala
